<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application"
        tools:targetApi="31">
        <activity
            android:name=".elderly.UserProfile"
            android:exported="false" />
        <activity
            android:name=".caretaker.CaretakerAppliedEventsPage"
            android:exported="false" />
        <activity
            android:name=".feed.Event_Details_Page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".blog.CreatePost"
            android:exported="false" />

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".elderly.ElderlyLoginPage"
            android:exported="false" />
        <activity
            android:name=".caretaker.CaretakerLoginPage"
            android:exported="false" />
        <activity
            android:name=".ngo.NGOLoginPage"
            android:exported="false" />
        <activity
            android:name=".elderly.ElderlyRegistrationPage"
            android:exported="false" />
        <activity
            android:name=".caretaker.CaretakerRegistrationPage"
            android:exported="false" />
        <activity
            android:name=".ngo.NGORegistrationPage"
            android:exported="false" />
        <activity
            android:name=".feed.Event"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feed.CreateEvent"
            android:exported="false" />
        <activity
        android:name=".ngo.NGOFeed"
        android:exported="false" />

        <activity
            android:name=".switchActivity"
            android:exported="false" />
        <activity
            android:name=".medicine.MedicineActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addmedicine.AddMedicineActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alarm.ReminderActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".report.MonthlyReportActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".blog.Blog" android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            />

    </application>

</manifest>